:root{
  --swiss-blue: #168BD0;
  --swiss-grey: #E2E3DD;
  --swiss-red: #EE3531;
}

.App {
  background-color: var(--swiss-grey);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  text-align: center;
  font-family: 'Helvetica';
}

.App-header {
  background-color: var(--swiss-red);
  color: var(--swiss-grey);
}

.signal-group {
  background: var(--swiss-blue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh;
}

.signal {
  display: flex;
  flex-direction: column;
}

.light-shape {
  border-radius: 50%;
  margin: 1vh;
  height: 5vh;
  width: 5vh;
}

.light-on {
  background: var(--swiss-red);
}

.light-off {
  background: var(--swiss-grey);
}

.button {
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  margin: 0 auto;
  font-size: 24px;
}

.b-start {
  background: var(--swiss-grey);
  border: 2px solid var(--swiss-red);
  color: var(--swiss-red);
}

.b-launch {
  background: var(--swiss-red);
  border: 2px solid var(--swiss-red);
  color: var(--swiss-grey);
}

.App-footer {
  margin-top: auto;
}

h1,h5 {
  color: var(--swiss-red);
}

a {
  color: var(--swiss-blue);
}